body {
background-color: #3aaf85;
font-family: "apple symbols";
background-image: url("http://images.media-allrecipes.com/userphotos/250x250/625949.jpg");
opacity: 0.6;
}


#navigation {
	padding: 0;
	margin: 0;
	}
	
#navigation li {
	display: inline;
	float: left;
	}
	
#navigation a, #navigation a:visited {
	display: block;
	width: 5em;
	border: 1px solid #000;
	font-size: 0.8 em;
	text-align: center;
	text-decoration: none;
	}
	
	
/*This is individually styling the buddy id on the h1 on howtomakeacake page */

#buddy {
	color: #B6212D;
}
	

	
	
