body {
background-color: #3aaf85;
font-family: "apple symbols";
color: white; 

background-image: url("http://images.media-allrecipes.com/userphotos/250x250/625949.jpg");
}


#navigation {
	padding: 0;
	margin: 0;
	}
	
#navigation li {
	display: inline;
	float: left;
	}
	
#navigation a, #navigation a:visited {
	display: block;
	width: 5em;
	border: 1px solid #000;
	font-size: 0.8 em;
	text-align: center;
	text-decoration: none;
	}
	

	
	